<div class="row"><div class="col col-xs-1" *ngFor='let j of arr1'>
    <button class="btn btn-primary btn-lg" (click)="butn()">Add <span class=""></span></button>
  </div></div>
<div class="row">

  <div  class="col-lg-{{12/len}}"  (click)="card(i)" *ngFor='let i of arr'>
    <p-card class="box"  styleClass="ui-card-shadow">
       <p-header>
         <img  src="Card" src="assets/graph.png">
       </p-header>
       <div  class="card-data">Users{{i}}<span class="per"> +%45</span>
       </div><div>6,520 / day</div>
    </p-card>
    
    </div>
</div>

