<div *ngIf="do"><p-chart (onDataSelect)="selectData($event)" type="doughnut" [data]="data"></p-chart></div>
<div *ngIf="li1">
    <p-chart (onDataSelect)="barEvent($event)" type="bar" [data]="data1"></p-chart>
    <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="back()">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">Back</span>
    </button>
 </div>
<div *ngIf="tab" >
    <div class="box">
        <div class="box-body">
            <table class="table table-hover " >
                  <thead>
                     <th>ACCOUNTS</th>
                     <th>PROGRESS</th>
                     <th>REVENUE</th>
                  </thead>
                  <tbody>
                     <tr *ngIf="arr[0]" data-toggle="collapse" data-target="#accordion1" class="clickable">
                     <td>{{arr[0]}}</td>
                     <td>data</td>
                     <td>data</td>
                     </tr>
                     <tr>
                     <td colspan="3">
                       <div id="accordion1" class="collapse">
                          <p-chart  type="line" [data]="line"></p-chart>
                       </div>
                     </td>
                     </tr >
                     <tr *ngIf="arr[1]" data-toggle="collapse" data-target="#accordion2" class="clickable">
                     <td>{{arr[1]}}</td>
                     <td>data</td>
                     <td>data</td>
                     </tr>
                    <tr>
                     <td colspan="3">
                    <div id="accordion2" class="collapse"> <p-chart class="box"   type="line" [data]="line" [options]="options"></p-chart> </div>
                   </td>
                 </tr >
                 <tr *ngIf="arr[2]" data-toggle="collapse" data-target="#accordion3" class="clickable">
                   <td>{{arr[2]}}</td>
                   <td>data</td>
                   <td>data</td>
                </tr>
                 
                 <tr>
                     <td colspan="3">
                    <div id="accordion3" class="collapse"> <p-chart class="box" type="line" [data]="line" [options]="options"></p-chart> </div>
                   </td>
                 </tr >
                 <tr *ngIf="arr[3]" data-toggle="collapse" data-target="#accordion3" class="clickable">
                     <td>{{arr[3]}}</td>
                     <td>data</td>
                     <td>data</td>
                  </tr>
                   <tr>
                     <td colspan="3">
                     <div id="accordion3" class="collapse">
                          <p-chart  type="line" [data]="line"></p-chart>
                  </div>
                     </td>
                 </tr >
                 <tr *ngIf="arr[4]" data-toggle="collapse" data-target="#accordion4" class="clickable">
                     <td>{{arr[4]}}</td>
                     <td>data</td>
                     <td>data</td>
                  </tr>
                   <tr>
                     <td colspan="3">
                     <div id="accordion4" class="collapse">
                          <p-chart  type="line" [data]="line"></p-chart>
                  </div>
                     </td>
                 </tr >
            </tbody>
       </table>
       </div>
        </div>
               </div>  