<div class=" data">
        <div class="col col-lg-8 toggle">
            <p-tabView styleClass="tabs" >
                <p-tabPanel header="WT_WIPRO">
                    <div class="char1">
                      <doughnut-graph></doughnut-graph>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="HEADER 2">
                   <div class="char1">
                     <globe-graph></globe-graph>
                   </div> 
                </p-tabPanel>
             </p-tabView>
          </div>
          <div class="col col-lg-4">
              <card-model></card-model>
          </div>
</div>
