.char1{
    
    width:100%;
    height:100%;
   
}
.accordion .btn{
     font-size: 30px;
    width:750px;
}
.data{
   
    padding:0px;
    font-size: 25px;
    
}
.tabs .ui-tabview{
      border: 1px solid black;
    
}
table{margin: 5%;}
