
<div  id="card1"><div class="small-box">
    <div class="icon">
        <i class="glyphicon glyphicon-stats"></i>
    </div>
    <div class="inner">
        <span class="num">53<sup style="font-size: 20px">%</sup><span class="glyphicon glyphicon-arrow-up"></span></span>
    </div>
        <p >Wipro Limited </p>
   </div></div>
   <div  id="card2"><div class="small-box">
    <div class="icon">
        <i class="glyphicon glyphicon-stats"></i>
    </div>
    <div class="inner">
        <span class="num">53<sup style="font-size: 20px">%</sup><span class="glyphicon glyphicon-arrow-up"></span></span>
    </div>
        <p >Wipro Limited </p>
   </div></div>
   <div  id="card3"><div class="small-box">
    <div class="icon">
        <i class="glyphicon glyphicon-stats"></i>
    </div>
    <div class="inner">
        <span class="num">53<sup style="font-size: 20px">%</sup><span class="glyphicon glyphicon-arrow-up"></span></span>
    </div>
        <p >Wipro Limited </p>
   </div></div>
    <div  id="card5"><div class="small-box">
    <div class="icon">
        <i class="glyphicon glyphicon-stats"></i>
    </div>
    <div class="inner">
        <span class="num">53<sup style="font-size: 20px">%</sup><span class="glyphicon glyphicon-arrow-up"></span></span>
    </div>
        <p >Wipro Limited </p>
   </div></div>
    <div  id="card4"><div class="small-box">
    <div class="icon">
        <i class="glyphicon glyphicon-stats"></i>
    </div>
    <div class="inner">
        <span class="num">53<sup style="font-size: 20px">%</sup><span class="glyphicon glyphicon-arrow-up"></span></span>
    </div>
        <p >Wipro Limited </p>
   </div></div>
  
    
     
     
    
 