body{
      margin: 0%;
padding:0%;}
     
.main{
    margin: 0%;
      
}
#top{
    margin: 0%;
    background: #5e6370;
}
.logo{
    
    height: 100px;
  
    
}
#side{
   margin:40%;
    font-size: 30px;
}
#search{
     margin:40%;
    font-size: 30px;
}
#searching{
    margin:0%;
   padding-left:40%; 
 
    background: rgba(0,0,0,0.15);
}
.form-inline{
    margin: 5%;
}
#logo1{
  
    color: white;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size:75px;
   
}

.glyphicon{
    color: #fff;
     background: #5e6370;
}

.btn{
      background: #5e6370;
      border:1px solid #5e6370;
}
.row{
    margin:2% 3% 0% 3%;
    
}
/*input{
    width:50px;
}*/